.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/.venv
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.idea
**/.vscode
**/.DS_Store
**/node_modules
backend/.env
deploy/gcp-credentials.json

